body {
  background-color: #fafafa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 14px;
}

.panel {
  border: solid 1px #ddd;
  border-radius: 3px;
  background-color: #fff;
  padding: 12px;
  clear: both;
}

.MuiTableCell-head {
  font-weight: 700 !important;
  text-transform: uppercase;
}

.slick-dots {
  bottom: 0 !important;
  background-color: white !important;
}

.slick-slide {
}

.slick-arrow {
  color: #4b4453 !important;
  z-index: 99;
}
.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 25px !important;
}

.MuiDialog-paperWidthSm {
  max-width: 1000px !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 44px !important;
  color: black !important;
}
